{% extends "layout.html" %}
{% block body %}
<form action="http://direct-upload-s3.s3.amazonaws.com" class="direct-upload" enctype="multipart/form-data" method="post">
  <input name="key" type="hidden">
  <input name="AWSAccessKeyId" type="hidden" value="AKIAICIGD5HKAGR52HNQ">
  <input name="acl" type="hidden" value="public-read">
  <input name="policy" type="hidden">
  <input name="signature" type="hidden">
  <input name="success_action_status" type="hidden" value="201">
  <input name="file" type="file">
  <div class="progress progress-striped active">
    <div class="bar"></div>
  </div>
</form>
<a href id="link" style="display: none;" target="_blank"></a>
<img id="preview" />
{% endblock %}
